# Ignore the following
*.mp4
data/
*.txt
*.zip
*.avi
*.jpg
*.png
*.pkl
__pycache__/
*egg*
*.pdf
src/datalog/souffle/*
*.deb
*.npz
*.log
inputs/*
inputs/without_duration-sampling_rate_4/PATSQL/
outputs/*
*.ipynb_checkpoints/
easy-install.pth
*.o
*.so

# Un-ignore the following
!LICENSE.txt
!inputs/synthetic_scene_graph_easy/
!inputs/synthetic_scene_graph_medium/
!inputs/synthetic_scene_graph_hard/
!inputs/without_duration-sampling_rate_4/
!inputs/without_duration-sampling_rate_4-fn_error_rate_0.1-fp_error_rate_0.01/
!inputs/without_duration-sampling_rate_4-fn_error_rate_0.3-fp_error_rate_0.03/
!inputs/trajectories_handwritten/
!inputs/trajectories_duration/
!inputs/user_study_queries_scene_graph/
!inputs/warsaw/
